@model IEnumerable<WebCosultorioOdontologicoMVC.Models.Paciente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PACIENTES</h1>

<p>
    <a asp-action="Create">Crear nuevo Paciente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre del Paciente</th>
            <th>Cedula de Identidad</th>
            <th>Alergias</th>
            <th>Fecha de Nacimiento</th>
            <th>Celular</th>
            <th>Usuario Registro</th>
            <th>Fecha Registro</th>
            <th>Estado</th>
            <th>Id del Doctor</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CedulaIdentidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alergias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Celular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioRegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPersonalNavigation.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
